mixin highlight-blk(iconname, heading, description)
  .highlight-blk
    a.highlight-blk__icon.ion(class=iconname)

    .highlight-blk__content
      h3.highlight-blk__heading= heading

      p.highlight-blk__descr= description
