doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    title Atom - a Text Editor Brought to you by Atomo
    link(rel="stylesheet", href="styles/styles.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    block content

    script(src="scripts/scripts.min.js")
