.u-max-width--sm {
  max-width: $breakpoint--sm !important;
}

.u-max-width--md {
  max-width: $breakpoint--md !important;
}

.u-max-width--lg {
  max-width: $breakpoint--lg !important;
}

.u-max-width--xl {
  max-width: $breakpoint--xl !important;
}
