.u-text-align--center {
  text-align: center !important;
}

.u-text-align--right {
  text-align: right !important;
}

.u-breakout--vert {
  margin-top: -$spacing--base * 10 !important;
}

.u-display--block {
  display: block !important;
}

.u-display--flex {
  display: flex !important;
}

.u-position--relative {
  position: relative !important;
}

.u-overflow--hidden {
  overflow: hidden !important;
}
