.u-pd--0 {
  padding: 0 !important;
}

.u-pd--xs {
  padding: $spacing--xs !important;
}

.u-pd--sm {
  padding: $spacing--sm !important;
}

.u-pd--md {
  padding: $spacing--md !important;
}

.u-pd--lg {
  padding: $spacing--lg !important;
}

.u-pd--xl {
  padding: $spacing--xl !important;
}


// Padding - Left and Right (AKA the 'x' axis)
.u-pd-x--0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-pd-x--xs {
  padding-left: $spacing--xs !important;
  padding-right: $spacing--xs !important;
}

.u-pd-x--sm {
  padding-left: $spacing--sm !important;
  padding-right: $spacing--sm !important;
}

.u-pd-x--md {
  padding-left: $spacing--md !important;
  padding-right: $spacing--md !important;
}

.u-pd-x--lg {
  padding-left: $spacing--lg !important;
  padding-right: $spacing--lg !important;
}

.u-pd-x--xl {
  padding-left: $spacing--xl !important;
  padding-right: $spacing--xl !important;
}


// Padding - Top and Bottom (AKA the 'y' axis)
.u-pd-y--0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-pd-y--xs {
  padding-top: $spacing--xs !important;
  padding-bottom: $spacing--xs !important;
}

.u-pd-y--sm {
  padding-top: $spacing--sm !important;
  padding-bottom: $spacing--sm !important;
}

.u-pd-y--md {
  padding-top: $spacing--md !important;
  padding-bottom: $spacing--md !important;
}

.u-pd-y--lg {
  padding-top: $spacing--lg !important;
  padding-bottom: $spacing--lg !important;
}

.u-pd-y--xl {
  padding-top: $spacing--xl !important;
  padding-bottom: $spacing--xl !important;
}


// Padding - Top
.u-pd-t--0 {
  padding-top: 0 !important;
}

.u-pd-t--xs {
  padding-top: $spacing--xs !important;
}

.u-pd-t--sm {
  padding-top: $spacing--sm !important;
}

.u-pd-t--md {
  padding-top: $spacing--md !important;
}

.u-pd-t--lg {
  padding-top: $spacing--lg !important;
}

.u-pd-t--xl {
  padding-top: $spacing--xl !important;
}


// Padding - Right
.u-pd-r--0 {
  padding-right: 0 !important;
}

.u-pd-r--xs {
  padding-right: $spacing--xs !important;
}

.u-pd-r--sm {
  padding-right: $spacing--sm !important;
}

.u-pd-r--md {
  padding-right: $spacing--md !important;
}

.u-pd-r--lg {
  padding-right: $spacing--lg !important;
}

.u-pd-r--xl {
  padding-right: $spacing--xl !important;
}


// Padding - Bottom
.u-pd-b--0 {
  padding-bottom: 0 !important;
}

.u-pd-b--xs {
  padding-bottom: $spacing--xs !important;
}

.u-pd-b--sm {
  padding-bottom: $spacing--sm !important;
}

.u-pd-b--md {
  padding-bottom: $spacing--md !important;
}

.u-pd-b--lg {
  padding-bottom: $spacing--lg !important;
}

.u-pd-b--xl {
  padding-bottom: $spacing--xl !important;
}


// Padding - Left
.u-pd-l--0 {
  padding-left: 0 !important;
}

.u-pd-l--xs {
  padding-left: $spacing--xs !important;
}

.u-pd-l--sm {
  padding-left: $spacing--sm !important;
}

.u-pd-l--md {
  padding-left: $spacing--md !important;
}

.u-pd-l--lg {
  padding-left: $spacing--lg !important;
}

.u-pd-l--xl {
  padding-left: $spacing--xl !important;
}


// Margin Utility Classes //
.u-mg--0 {
  margin: 0 !important;
}

.u-mg--xs {
  margin: $spacing--xs !important;
}

.u-mg--sm {
  margin: $spacing--sm !important;
}

.u-mg--md {
  margin: $spacing--md !important;
}

.u-mg--lg {
  margin: $spacing--lg !important;
}

.u-mg--xl {
  margin: $spacing--xl !important;
}


// Margin - Left and Right (AKA the 'x' axis)
.u-mg-x--0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-mg-x--xs {
  margin-left: $spacing--xs !important;
  margin-right: $spacing--xs !important;
}

.u-mg-x--sm {
  margin-left: $spacing--sm !important;
  margin-right: $spacing--sm !important;
}

.u-mg-x--md {
  margin-left: $spacing--md !important;
  margin-right: $spacing--md !important;
}

.u-mg-x--lg {
  margin-left: $spacing--lg !important;
  margin-right: $spacing--lg !important;
}

.u-mg-x--xl {
  margin-left: $spacing--xl !important;
  margin-right: $spacing--xl !important;
}

.u-mg-x--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}


// Margin - Top and Bottom (AKA the 'y' axis)
.u-mg-y--0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-mg-y--xs {
  margin-top: $spacing--xs !important;
  margin-bottom: $spacing--xs !important;
}

.u-mg-y--sm {
  margin-top: $spacing--sm !important;
  margin-bottom: $spacing--sm !important;
}

.u-mg-y--md {
  margin-top: $spacing--md !important;
  margin-bottom: $spacing--md !important;
}

.u-mg-y--lg {
  margin-top: $spacing--lg !important;
  margin-bottom: $spacing--lg !important;
}

.u-mg-y--xl {
  margin-top: $spacing--xl !important;
  margin-bottom: $spacing--xl !important;
}


// Margin - Top
.u-mg-t--0 {
  margin-top: 0 !important;
}

.u-mg-t--xs {
  margin-top: $spacing--xs !important;
}

.u-mg-t--sm {
  margin-top: $spacing--sm !important;
}

.u-mg-t--md {
  margin-top: $spacing--md !important;
}

.u-mg-t--lg {
  margin-top: $spacing--lg !important;
}

.u-mg-t--xl {
  margin-top: $spacing--xl !important;
}


// Margin - Right
.u-mg-r--0 {
  margin-right: 0 !important;
}

.u-mg-r--xs {
  margin-right: $spacing--xs !important;
}

.u-mg-r--sm {
  margin-right: $spacing--sm !important;
}

.u-mg-r--md {
  margin-right: $spacing--md !important;
}

.u-mg-r--lg {
  margin-right: $spacing--lg !important;
}

.u-mg-r--xl {
  margin-right: $spacing--xl !important;
}


// Margin - Bottom
.u-mg-b--0 {
  margin-bottom: 0 !important;
}

.u-mg-b--xs {
  margin-bottom: $spacing--xs !important;
}

.u-mg-b--sm {
  margin-bottom: $spacing--sm !important;
}

.u-mg-b--md {
  margin-bottom: $spacing--md !important;
}

.u-mg-b--lg {
  margin-bottom: $spacing--lg !important;
}

.u-mg-b--xl {
  margin-bottom: $spacing--xl !important;
}


// Margin - Left
.u-mg-l--0 {
  margin-left: 0 !important;
}

.u-mg-l--xs {
  margin-left: $spacing--xs !important;
}

.u-mg-l--sm {
  margin-left: $spacing--sm !important;
}

.u-mg-l--md {
  margin-left: $spacing--md !important;
}

.u-mg-l--lg {
  margin-left: $spacing--lg !important;
}

.u-mg-l--xl {
  margin-left: $spacing--xl !important;
}
